[user]
  name = mikanfactory
  email = k952i4j14x17@gmail.com
[github]
  user = mikanfactory

[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  co = checkout
  cm = commit
  st = status --branch
  sw = switch
  rst = restore
  branches = branch -a
  remotes = remote -v
  b = branch
  d = diff
  dc = diff --cached
  gr = log --oneline --decorate --graph --all
  nd = -c core.pager='less -RFX' diff
  ndc = -c core.pager='less -RFX' diff --cached
  nlog = -c core.pager='less -RFX' log --oneline --decorate --graph --all
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[pull]
  ff = only
[core]
  excludesfile = ~/.gitignore_global
  pager = git-split-diffs --color | less -RFX
[split-diffs]
  min-line-width = 40
  theme-name = github-dark-dim
[ghq]
  root = ~/.go/src


