[[plugins]]
repo = 'Shougo/deoplete.nvim'
on_i = 1
hook_add = '''
  inoremap <silent><expr> <Tab> pumvisible() ? "\<C-n>" : deoplete#mappings#manual_complete()
'''
hook_source = '''
  let g:deoplete#enable_at_startup = 1
'''

[[plugins]]
repo   = 'Shougo/unite.vim'

